{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class='outer'>
        <h2>About Django Framework</h2>
        <div class='inner'>
            <p>Django is a high-level Python web framework that encourages rapid development and clean, pragmatic design. Built by experienced developers, it takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel. It's free and open source.
            Ridiculously fast.</p>
        </div>
    </div>
</body>
</html>