{% extends "layout.html" %}

{% block title %}
Chai Page
{% endblock %}

{% block content %}

<h1 class="bg-orange-500 p-6 text-center">Welcome to the Chai Page</h1>
<br>
<h3 class="bg-yellow-600 p-6 w-fit text-center mx-auto border border-red-900">All types of chai available</h3>
<div class="grid grid-cols-3 gap-4 m-4">

{% for chai in chais %}
    <div class="bg-blue-800 p-5 rounded ">
        <img class="rounded shadow" src="/media/{{ chai.image }}" alt="{{ chai.name }}">        
        <h3 class="text-2xl font-bold">{{chai.name}}</h3>
        
            <button
            type="button"
            class="inline-flex items-center px-4 py-2 text-sm"
            >
               
            </button>
       
    </div>
{% endfor %}

</div>

{% endblock %}



